.idea/
*.log*
node_modules
bundle.js
public/bundle.js
server.bundle.js
*.swp
*.swo
database/credentials.json
database/serviceAccountKey.json
*.log*
labeler/assets
.DS_Store
*.pyc
labeler/*.pyc
script/*.json

*.pem
*.mp4
*.pdf
.idea/*

utility/input.json
utility/sshCredentials.js

scraper/*.json
scraper/out

ocr/contents
ocr/slides
ocr/unique
ocr/*.mp4

engine/ocr_output/
engine/video_files/
engine/lectures.json
engine/courses.json
engine/table.json
engine/queue.json

scraper/
!scraper/*.js
!scraper/*.py
