node_modules
bundle.js
public/bundle.js
server.bundle.js
.swp
.swo
database/credentials.json
database/serviceAccountKey.json
*.log
labeler/assets
.DS_Store
*.pyc
labeler/*.pyc
script/*.json
*.pem
*.mp4
*.pdf
utility/input.json
