.idea/
.DS_Store
node_modules

bundle.js
public/bundle.js
server.bundle.js
database/credentials.json
database/serviceAccountKey.json
labeler/assets

labeler/*.pyc
script/*.json

*.class
.idea/*
*.log*
*.mp4
*.pem
*.pyc
*.pdf
*.swo
*.swp

utility/input.json
utility/sshCredentials.js
utility/encryption.js

scraper/*.json
scraper/out

ocr/contents
ocr/slides
ocr/unique
ocr/*.mp4

engine/ocr_output/
engine/video_files/
engine/lectures.json
engine/courses.json
engine/table.json
engine/queue.json

scraper/
!scraper/*.js
!scraper/*.py
