:root {
    --list-item-bg: #faf3e8;
    --list-selected-bg:#f1ca8c;
    --search-bar-text: #faf3e8;
    --search-bar-bg: #685741;
    --pinned: #fed602;
    --week-bg: rgba(124, 91, 28, 0.74);
}

.lecture-list {
    background: var(--list-item-bg);
}

.search-box {
    background: var(--search-bar-bg);
}

.search-icon {
    color: var(--search-bar-text);
}

/* Chrome/Opera/Safari */
.search-box::-webkit-input-placeholder {
    color: var(--search-bar-text);
}

/* Firefox 19+ */
.search-box::-moz-placeholder {
    color: var(--search-bar-text);
}

/* IE 10+ */
.search-box:-ms-input-placeholder {
    color: var(--search-bar-text);
}
/* Firefox 18- */
.search-box:-moz-placeholder {
    color: var(--search-bar-text);
}

li.course-item {
    background: var(--list-item-bg);
}

.course-item.selected {
    background: var(--list-selected-bg)
}

.course-item.selected:hover {
    background: #f1ca8c;
}

.pin-button .fa.pinned {
    color: var(--pinned);
}

.pin-button .fa:hover {
    color: var(--pinned);
}

.slides-status button {
    color: #483401 !important;
}

li.lecture-item {
    background: var(--list-item-bg);
}

.lecture-item.selected {
    background: var(--list-selected-bg);
}

.lecture-item.selected:hover {
    background: #f1ca8c;
}

.week-separator {
    background: var(--week-bg);
    color: #faf3e8;
}
