body {
    color: #483401;
}

.search-box {
    background: #483401;
}

.search-icon {
    color: #faf3e8;
}

/* Chrome/Opera/Safari */
.search-box::-webkit-input-placeholder {
    color: #faf3e8;
}
/* Firefox 19+ */
.search-box::-moz-placeholder {
    color: #faf3e8;
}
/* IE 10+ */
.search-box:-ms-input-placeholder {
    color: #faf3e8;
}
/* Firefox 18- */
.search-box:-moz-placeholder {
    color: #faf3e8;
}

li.course-item {
    background: #faf3e8;
}

.course-item.selected {
    background: #f1ca8c;
}

.pin-button .fa.pinned {
    color: #fed602;
}

.pin-button .fa:hover {
    color: #fed602;
}

.slides-status button {
    color: #483401 !important;
}

li.lecture-item {
    background: #faf3e8;
}

.lecture-item.selected {
    background: #f1ca8c;
}

.week-separator {
    background: rgba(124, 91, 28, 0.74);
    color: #faf3e8;
}
