html,body,.podcast-container, .pdf-view, .video-view
{
    height: 100%;
}

.nav {
    position: fixed;
    width: 280px;;
    float: left;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin:0px;
    height: 100%;
    overflow: auto;
    display: flex;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

/* sidebar elements */

ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: relative;
}

.course-item {
    font-family: Roboto, sans-serif;
    position: relative;
    width: 100%;
    height: 72px;
    background: white;
    list-style: none;
    padding-top:12px;
    padding-bottom:12px;
}

.course-item:hover {
    background: gray;
}

.course-title {
    display: flex;
    font-size: 14pt;
    white-space:nowrap;
}

.course-section {
    padding-left:8px;
}

.course-prof {
    bottom:0px;
    width: 100%;
    font-size: 12pt;
    white-space: nowrap;
}

.pin-button {
    float: left;
    width: 48px;
    height: 100%;
}

.expand-button {
    display:flex;
    float: right;
    width: 32px;
    height: 100%;
}

.fa {
    height: 100%;
    width: 100%;
}

/* main canvas */

.main {
    display: flex;
    float: right;
}

.podcast-container
{
    overflow:auto;
}

[data-reactroot] { height: 100% }

.pdf-view
{
    float:left;
    width: 600px;
    /*background: gainsboro;*/
    overflow-x:hidden;
    overflow-y:auto;

}
.video-view
{
    overflow-x:hidden;
    overflow-y:auto;
    /*background: lightgray;*/
}

.row
{

}
